* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', monospace;
    background:linear-gradient(to bottom,#252525,black);
    font-weight:bold;
}
.table{
    border:none;
    padding:4px;
}
td:nth-child(odd),
th:nth-child(odd) {
    background-color:#f2a415;
}

td:nth-child(even),
th:nth-child(even) {
    background-color: #f28715;
}

.navbar {
    width: 100%;
    height: 120px;
    background:linear-gradient(to bottom,#252525,black);
    justify-content: space-around;
    text-align:center;
    display:flex;
    align-items: center;
}
.navbar-right{
    gap: 40px;
}
/* NAV BUTTONS */

.navbar a {
    color: rgb(223, 155, 9);
    text-decoration: none;
    font-size: 25px;
    font-weight:bolder;
}

.navbar a:hover {
    color: #aaa;
    text-decoration:underline;
}
.footer{
    
    color:#f2a415;
    text-align:center;
    background: linear-gradient(to bottom,#252525,black);
    height:320px;
}
ul{
    display:flex;
    text-align:center;
    justify-content: space-around;
    align-items: center;
    text-decoration:underline;
}
.copy{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}
#free{
    text-align:center;
}